<footer>
  <ul>
    <li><a href="mailto:{{ site.email }}"><i class="icon-email"></i>email</a></li>
    <li><a href="http://scholar.google.com/citations?user=iV9F3bgAAAAJ&amp;hl=en" rel="me"><i class="icon-google"></i>google</a></li>
    <li><a href="http://www.linkedin.com/in/jaredhowland" rel="me"><i class="icon-linkedin"></i>linkedin</a></li>
    <!--<li><a href="http://www.facebook.com/jared.howland" rel="me"><i class="icon-facebook"></i>facebook</a></li>-->
    <li><a href="http://twitter.com/jared_howland" rel="me"><i class="icon-twitter"></i>twitter</a></li>
    <li><a href="https://github.com/jaredhowland" rel="me"><i class="icon-github"></i>github</a></li>
  </ul>
</footer>
