<footer>
  <ul>
    <li><a href="mailto:{{ site.email }}"><i class="icon-email"></i>email</a></li>
    <li><a href="http://scholar.google.com/citations?user=iV9F3bgAAAAJ&amp;hl=en" rel="me"><i class="icon-google"></i>google</a></li>
    <li><a href="http://www.linkedin.com/in/jaredhowland" rel="me"><i class="icon-linkedin"></i>linkedin</a></li>
    <!--<li><a href="http://www.facebook.com/jared.howland" rel="me"><i class="icon-facebook"></i>facebook</a></li>-->
    <li><a href="http://twitter.com/jared_howland" rel="me"><i class="icon-twitter"></i>twitter</a></li>
    <li><a href="https://github.com/jaredhowland" rel="me"><i class="icon-github"></i>github</a></li>
  </ul>
  <script src="https://assets.peerwith.com/content/network-badge/peerwith-expert-rating.js" async="async"></script><a target="_blank" href="http://peerwith.expert/jaredhowland" id="peerwith-expert-badge" data-user="5936b0639f3f980001240502" data-uri="https://api.peerwith.com/v2" star-uri="https://assets.peerwith.com/content/network-badge/peerwith-expert-mono-star.png" ><img src="https://assets.peerwith.com/content/network-badge/peerwith-expert-mono.png"></a>
</footer>
