<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords}}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description}}{% endif %}">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author}}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/styles.min.css" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if site.ga-tracking-code %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ site.ga-tracking-code }}']);
          _gaq.push(['_setDomainName', '{{ site.ga-domain-name }}']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    {% endif %}
    {% if site.typekit-id %}
      <script type="text/javascript" src="//use.typekit.net/{{ typekit-id }}.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% endif %}
</head>

<body>
