<meta charset=utf-8>
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name=keywords content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords}}{% endif %}">
<meta name=description content="{% if page.description %}{{ page.description }}{% else %}{{ site.description}}{% endif %}">
<meta name=author content="{% if page.author %}{{ page.author }}{% else %}{{ site.author}}{% endif %}">
<meta name=viewport content="width=device-width, initial-scale=1.0">
<link rel=stylesheet type=text/css href={{ site.url }}/assets/css/styles.min.css>