//
// Crimson Text
// --------------------------------------------------
@font-face {
  font-family: 'Crimson Text';
  src: url('../../assets/fonts/crimson-roman-webfont.eot');
  src: url('../../assets/fonts/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/crimson-roman-webfont.woff') format('woff'),
       url('../../assets/fonts/crimson-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../../assets/fonts/crimson-italic-webfont.eot');
  src: url('../../assets/fonts/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/crimson-italic-webfont.woff') format('woff'),
       url('../../assets/fonts/crimson-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../../assets/fonts/crimson-bold-webfont.eot');
  src: url('../../assets/fonts/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/crimson-bold-webfont.woff') format('woff'),
       url('../../assets/fonts/crimson-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//
// Social Media Fonts
// --------------------------------------------------
@font-face {
  font-family: 'icomoon';
  src:url('../../assets/fonts/icomoon-eot.eot');
  src:url('../../assets/fonts/icomoon-eot.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon-woff.woff') format('woff'),
    url('../../assets/fonts/icomoon-ttf.ttf') format('truetype'),
    url('../../assets/fonts/icomoon-svg.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-linkedin:before {
  content: "\e604";
}
.icon-github:before {
  content: "\e605";
}
.icon-email:before {
  content: "\e606";
}
