@font-face {
  font-family: Charter;
  src: url(../assets/fonts/charter_regular_webfont.woff);
  font-weight: normal;
}

@font-face {
  font-family: Charter;
  src: url(../assets/fonts/charter_bold_webfont.woff);
  font-weight: bold;
}

@font-face {
  font-family: Charter;
  src: url(../assets/fonts/charter_italic_webfont.woff);
  font-style: italic;
}