@font-face {
  font-family: Crimson;
  src: url(/assets/fonts/crimson-roman-webfont.woff);
  font-weight: normal;
}

@font-face {
  font-family: Crimson;
  src: url(/assets/fonts/crimson-bold-webfont.woff);
  font-weight: bold;
}

@font-face {
  font-family: Crimson;
  src: url(/assets/fonts/crimson-italic-webfont.woff);
  font-style: italic;
}

/* Social Media Fonts */

@font-face {
  font-family: Icons;
  src: url(/assets/fonts/icons-webfont.woff);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: Icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-googlescholar:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
