html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
     -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
          font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

body {
  @include rhythm();
  font-family: $body-font;
  color: $body-color;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p {
  & + p {
    text-indent: $indent-value;
  }

  // No indent for drop caps
  + .drop-cap {
    text-indent: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $link-hover-color;
    background-color: $link-background-color;
    -webkit-transition: background-color .4s, color .4s;
            transition: background-color .4s, color .4s;
  }
}

strong, b, .bold {
  font-weight: 700;
}

em, i, .italic {
  font-style: italic;
}

ol li, ul li {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
     -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
          font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-left: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

blockquote p {
  border-left: .25rem solid $body-color-muted;
  font-style: italic;
  padding-left: 1rem;
}

// http://alexmansfield.com/css/font-size-line-height-pre-code-monospace
pre, code {
  font-family: $monospace-font;
  background-color: $code-background-color;
  border-radius: 4px;
  vertical-align: top;
  @include font-size($epsilon);
}

pre {
  @include padding(1);

  overflow: auto;
  @include max-height($epsilon, 10);

  code[class]:before {
    content: attr(data-lang);
    float: right;
    padding: 0 .3em;
    text-transform: uppercase;
    background: lighten($code-background-color, 10%);
    border-radius: 4px;
  }
}

small, .caption {
  @extend .epsilon;
}

.drop-cap {
  @include dropcap(
    $dropcap-float-position,
    $dropcap-font-size,
    $dropcap-font-family,
    $dropcap-txt-indent,
    $dropcap-margin,
    $dropcap-padding,
    $dropcap-color,
    $dropcap-line-height,
    $dropcap-bg
  );
}

.caption {
  color: lighten($body-color, 20%);
}

.upper {
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.small-caps {
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
     -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
          font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: .1rem;
}

.lining-numerals {
    -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
       -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
            font-feature-settings: 'lnum' 1, 'kern' 1;
}

.oldstyle-numerals {
    -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
       -moz-font-feature-settings: 'onum' 1, 'kern' 1;
            font-feature-settings: 'onum' 1, 'kern' 1;
}
