{% include head.html %}

<header>
  <h1>Jared L. Howland</h1>
  <nav>
    <ul>
        <li class="active">Home</li>
        <li><a href="http://www.jaredhowland.com/assets/documents/Howland-Cover-Letter.pdf">Cover Letter</a></li>
        <li><a href="http://www.jaredhowland.com/assets/documents/Howland-Trends.pdf">Trends, Opportunities, &amp; Challenges</a></li>
        <li><a href="http://www.jaredhowland.com/assets/documents/Howland-Vision.pdf">Vision</a></li>
        <li><a href="http://www.jaredhowland.com/assets/documents/Howland-Vita.pdf">Vita</a></li>
    </ul>
  </nav>
</header>

{% if page.kind %}
  <section class="{{ page.kind }}">
    {{ content }}
  </section>
{% else %}
  <section>
    {{ content }}
  </section>
{% endif %}

{% include footer.html %}

</body>
</html>
